﻿@model SolrConfigurator.Website.Components.Export.Model.ExportViewModel
@{ Layout = "~/Components/Shared/Views/_Layout.cshtml"; }

<h1 class="h1 mb-3 font-weight-normal">Preview and download the generated config</h1>
@Html.TextAreaFor(model => model.GeneratedConfig, new { disabled = true, @class = "form-control" })

<div class="d-flex justify-content-center">
    <a href="@Url.Action("GetFileDownload", "Export")" class="btn btn-primary">Download</a>
</div>