﻿select {
    width: 100%;
    margin-bottom: 2px;
}

#it, #et, #if, #ef {
    margin-top: 0!important;
}

label {
    margin-top: 20px;
    padding: 0 8px;
}

#GeneratedConfig {
    min-width: 800px;
    width: 100%;
    min-height: 400px;
    height: 50%;
    resize: none;
}

input[type=text] {
    min-width: 500px;
    margin-bottom: 2px;
    padding-left: 5px;
}

input#dataPath {
    width: 100%;
}

textarea {
    margin-bottom: 2px;
}