﻿@model SolrConfigurator.Website.Components.Selection.Model.SelectionViewModel
@{ Layout = "~/Components/Shared/Views/_Layout.cshtml"; }

<h1 class="h1 mb-3 font-weight-normal">Select the templates and fields</h1>
<div id="app" data-successurl="@Url.Action("ProcessSelection", "Export")">
    <div class="">
        <div class="px-2">
            <input type="text" v-model="search" placeholder="Search..." class="form-control" />
        </div>
        <div class="px-2">
            <select name="allDAta" multiple="multiple" v-model="selectedAllDataValues" class="form-control">
                <option v-for="data in filteredAllDataValues" v-if="!data.hidden" v-bind:value="data.value">{{data.text}}</option>
            </select>
            <div class="d-flex justify-content-around">
                <button v-on:click="addIt" class="btn btn-primary">Add to included templates</button>
                <button v-on:click="addIf" class="btn btn-primary">Add to included fields</button>
                <button v-on:click="addEt" class="btn btn-primary">Add to excluded templates</button>
                <button v-on:click="addEf" class="btn btn-primary">Add to excluded Fields</button>
            </div>
        </div>
        <div class="px-2">
            <br>
            <h2 class="h5 mb-3 font-weight-normal">Included Templates</h2>
            <select name="includedTemplates" multiple="multiple" v-model="selectedITValues" class="form-control" id="it">
                <option v-for="it in includedTemplates" v-bind:value="it.value">{{it.text}}</option>
            </select>
            <div>
                <button v-on:click="remIt" class="btn btn-secondary">Remove</button>
            </div>
        </div>
        <div class="px-2">
            <br>
            <h2 class="h5 mb-3 font-weight-normal">Included Fields</h2>
            <select name="includedFields" multiple="multiple" v-model="selectedIFValues" class="form-control" id="et">
                <option v-for="incf in includedFields" v-bind:value="incf.value">{{incf.text}}</option>
            </select>
            <div>
                <button v-on:click="remIf" class="btn btn-secondary">Remove</button>
            </div>
        </div>
        <div class="px-2">
            <br>
            <h2 class="h5 mb-3 font-weight-normal">Excluded Templates</h2>
            <select name="excludedTemplates" multiple="multiple" v-model="selectedETValues" class="form-control" id="if">
                <option v-for="et in excludedTemplates" v-bind:value="et.value">{{et.text}}</option>
            </select>
            <div>
                <button v-on:click="remEt" class="btn btn-secondary">Remove</button>
            </div>
        </div>
        <div class="px-2">
            <br>
            <h2 class="h5 mb-3 font-weight-normal">Excluded Fields</h2>
            <select name="excludedFields" multiple="multiple" v-model="selectedEFValues" class="form-control" id="ef">
                <option v-for="ef in excludedFields" v-bind:value="ef.value">{{ef.text}}</option>
            </select>
            <div>
                <button v-on:click="remEf" class="btn btn-secondary">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <label><input type="checkbox" v-model="indexAllFields"> Index all fields</label>
    </div>
    <hr class="mb-4" />
    <div>
        <button v-on:click="sendData" class="btn btn-primary btn-block btn-lg">Generate</button>
    </div>
</div>