﻿@model SolrConfigurator.Website.Components.DataPath.Model.DataPathViewModel
@{ Layout = "~/Components/Shared/Views/_Layout.cshtml"; }

<h1 class="h1 mb-3 font-weight-normal">Where are your .yml files located?</h1>
@using (Html.BeginForm("ProcessDataPath", "Selection", FormMethod.Post)) {
    @Html.TextBoxFor(m => m.Path, string.Empty, new { id="dataPath", @class="form-control" })
    <input type="submit" value="Submit" class="btn btn-primary" />
}