﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sitecore Solr Configurator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @Html.ActionLink("Sitecore Solr Configurator", "BindDataPath", "DataPath", null, new {@class = "navbar-brand"})
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://bitbucket.org/yannik_fischer/sitecore-solr-configurator/src/master/" target="_blank">Sitecore Solr Configurator Repository</a> - Graduation project by Yannik Fischer
        </div>
    </footer>
    <script src="/lib/vue/vue.min.js"></script>
    <script src="/lib/axios/axios.min.js"></script>
    <script src="/js/selection.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
