﻿@model SolrConfigurator.Website.Components.Shared.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Components/Shared/Views/_Layout.cshtml";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Included error message</h3>
<p>@Model.Message</p>
